<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragment/page::source"></div>
    <title>商品列表</title>
</head>

<body>
<div th:replace="fragment/page::x-nav"></div>
<div th:replace="fragment/page::tableAndToolBarExeptTableData"></div>
  <script type="text/javascript"  th:inline="none">
    layui.use('table', function(){
      var table = layui.table;

      table.render({
        elem: '#test'
        ,url:'/getGoodsPage'
        ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
        ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
          title: '提示'
          ,layEvent: 'LAYTABLE_TIPS'
          ,icon: 'layui-icon-tips'
        }]
        ,cols: [[
          {type: 'checkbox',   fixed: 'left', width:'10%',align: 'center'}
          ,{field:'goodsId',title: '商品编号',width:'10%',align: 'center'}                //商品编号
          ,{field:'goodsName',title: '商品名称',width:'15%',align: 'center'}             //商品编号
          ,{field:'price',   title: '价格',  width:'10%', sort: true,align: 'center'}      //价格
          ,{field:'onSale',  title: '在售状态', width:'10%',align: 'center'}               //在售状态
          ,{field:'detail',  title: '商品描述',width:'20%',align: 'center'}               //商品描述
          ,{field:'count',   title: '库存数量',width:'10%',align: 'center'}              //库存数量
          ,{fixed:'right',   title:'操作', toolbar: '#barDemo', width:'15%'} //操作8 rows
        ]]
        ,page: true //开启分页
        ,limits:[5,10,15,20]
        ,limit:5
      });
    });
  </script>
  </body>
</html>