<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" th:dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>页面不见了哟</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{css/font.css}">
    <link rel="stylesheet" th:href="@{css/xadmin.css}">
    <link rel="stylesheet" th:href="@{css/404.css}">
</head>
<body>
<div >
    <h2>Oops! 页面不见了哟</h2>
    <h1>404</h1>
    <p>亲，找不到您要的东西，但是可以找我呀~</p>
    <a th:href="@{index}">牵手回家</a>
</div>

</body>
</html>